requests==2.28.1     #Para fazer as requisições à API.
pandas==1.5.3        #Para manipulação de dados (como filtrar e tratar as tabelas)
ipykernel==6.18.3    #Para permitir que o Jupyter use o kernel do ambiente virtual criado.